/prak3/nbproject/private/
/prak3/build/
/nyobainnetbeans/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Praktikum 8/nbproject/private/
/Praktikum 8/build/
/Praktikum 9/nbproject/private/
/Praktikum10/nbproject/private/
/Praktikum10/build/
/Praktikum10/dist/
/jdbc_mhs_service/nbproject/private/
/jdbc_mhs_service/build/
/jdbc_mhs_service_GUI/nbproject/private/
/jdbc_mhs_service - Copy/build/
/jdbc_mhs_service - Copy/nbproject/private/
/jdbc_mhs_service_GUI/build/
